body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #7e1414;
  background: url("./booksImages/pexels-jonas-f-13020734.jpg") center center no-repeat;
      /* Adjust background size to cover the entire viewport */
  background-size: cover;
  /* Set background color as a fallback in case the image is not available */
  background-color: #f4f4f4;
  }
  


#form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    color: #e2cccc;
    background-color: #3f0606;
    border-radius: 10px; /* Add this line to make the corners round */

}

.form-group {
    margin-bottom: 20px;
}


.label-container {
    align-items: center;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;

}

.form-control {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.form-control:focus {
    outline: none;
}



.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

#btn {
    background-color: #c01c45;
    color: #e2cccc;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

